<tr class="liquidaciones">                       
  <td><%= @week_days.first %></td>           
  <td><%= @contract.monday_start_hour.strftime('%R Hs') %></td>    
  <td><%= (@contract.monday_end_hour.strftime('%R').last(2) == "59" ? @contract.monday_end_hour + 60 : @contract.monday_end_hour).strftime('%R Hs') %></td>
  <td class="text-center">
    <%= @contract.total_hour_monday %>           
  </td>         
</tr>          