<tr class="liquidaciones">                       
  <td><%= @week_days.second %></td>           
  <td><%= @contract.tuesday_start_hour.strftime('%R Hs') %></td>    
  <td><%= (@contract.tuesday_end_hour.strftime('%R').last(2) == "59" ? @contract.tuesday_end_hour + 60 : @contract.tuesday_end_hour).strftime('%R Hs') %></td>
  <td class="text-center">
    <%= @contract.total_hour_tuesday %>           
  </td>               
</tr>          